<div class = "container-fluid mt-5 about-style" id= "aboutid">
    <div class = "row">
        <div class = "col-md-10 col-12 mx-auto">
            <h1 class = "text-center main-heading">About Us</h1>
            <p class = "text-center sub-heading">grow your business with us</p>
            <div class = "row">
                <div class = "col-md-6 col-12 hero-text order-md-0 order-1">
                    <figure>
                        <img src = "images/about.svg" alt = "hero_section_image">
                    </figure>
                </div>
                <div class = "col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                    <h1>WE ARE HERE TO HELP YOU 🤝</h1>
                    <p>Welcome to <span class ="bold-style"> Dynamic Developer 🤝</span>
                    ,your number one source for all Things. We are dedicated to giving you the very best of work.With A focus on Dependability, customer service and uniqueness
                    </p>
                    <button class = "btn-style btn-primary">Read More</button>
                </div>
            </div>
        </div>
    </div>
</div>
