<div class = "container-fluid mt-5 service-style" id= "serviceid">
    <div class = "row">
        <div class = "col-md-10 col-12 mx-auto">
            <h1 class = "text-center main-heading">Our services</h1>
            <p class = "text-center sub-heading">grow your business with us</p>
            <div class = "row">
                <div class = "col-md-4">
                    <div class = "box">
                        <div class = "our-services settings">
                            <div class = "icon">
                                <img src = "images\settings.png" width = "93px" height = "100px" alt="setting.png">
                            </div>
                            <h4>
                                Setting
                            </h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
                        </div>
                    </div>
                </div>
                <div class = "col-md-4">
                    <div class = "box">
                        <div class = "our-services speedup">
                            <div class = "icon">
                                <img src = "images\internet.png" width = "93px" height = "100px" alt="setting.png">
                            </div>
                            <h4>
                                Speedup
                            </h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
                        </div>
                    </div>
                </div>
                <div class = "col-md-4">
                    <div class = "box">
                        <div class = "our-services privacy">
                            <div class = "icon">
                                <img src = "images\safety.png" width = "93px" height = "100px" alt="setting.png">
                            </div>
                            <h4>
                                Privacy
                            </h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
                        </div>
                    </div>
                </div>
                <div class = "col-md-4">
                    <div class = "box">
                        <div class = "our-services backups">
                            <div class = "icon">
                                <img src = "images\backup.png" width = "93px" height = "100px" alt="setting.png">
                            </div>
                            <h4>
                                Backups
                            </h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
                        </div>
                    </div>
                </div>
                <div class = "col-md-4">
                    <div class = "box">
                        <div class = "our-services ssl">
                            <div class = "icon">
                                <img src = "images\ssl.png" width = "93px" height = "100px" alt="setting.png">
                            </div>
                            <h4>
                                SSL Secured
                            </h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
                        </div>
                    </div>
                </div>
                <div class = "col-md-4">
                    <div class = "box">
                        <div class = "our-services database">
                            <div class = "icon">
                                <img src = "images\vagueness.png" width = "93px" height = "100px" alt="setting.png">
                            </div>
                            <h4>
                                Database
                            </h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
